name = "ops-pack-host"
main = "pack_worker.js"
compatibility_date = "2025-11-01"

# route on your account's workers.dev zone
routes = ["https://ops-pack-host.grabem-holdem-nuts-right.workers.dev/*"]

[[kv_namespaces]]
binding = "PACK_KV"
id = "f01123d0eaae4affb0cb764f2486bb0c"   # will be created below
